<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quizzo</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>


  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
/>

</head>

<body>
  <main style="margin: 1em;">
    <h3>Public Quizes</h3>
    <table class="table">
      <tbody>
        <% for (let quiz of quizzes) { %>
          <tr class="row">
            <td class="quiz-name"><form method="GET" action="quiz/<%= quiz.id %>">
              <button type="submit" class="btn btn-outline-primary quiz-body"><%= quiz.title %></button>
            </form></td>
            <td class="score"> Most recent score: <%= quiz.id %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </main>
</body>

</html>
