main {
    min-height: 100vh;

  font-family: 'Bungee';
  background: rgb(214, 219, 163);
  background: linear-gradient(
    227deg,
    rgb(219, 199, 163) 0%,
    rgb(217, 219, 163) 20%,
    rgb(219, 202, 163) 34%,
    rgb(219, 214, 163) 59%,
    rgb(219, 218, 163) 74%,
    rgb(215, 219, 163) 100%
  );
    
  #kiwi{
    padding-left: 1em;
    width: 50px;
    height: 50px;
  }
  #pencil{
    padding-left: 1em;
    width: 50px;
    height: 50px;
  }

    #quizTitle{
        display: flex;
        justify-content: center;
        width:50%;
        margin-left: 35%;
        // padding-left: 10%;
    }
    #greeting{
        display: flex;
        justify-content: center;
    }

    #inputQuestion{
        display: flex;
        justify-content: center;
        width: 75%;
    }

    #inputAnswer{
        display: flex;
        justify-content: center;
        width: 25%


    }

#submitButton{
        display: flex;
        justify-content: center;
        margin-left: 45%;
    }
 
}
