

    nav{
        color: aliceblue;
        background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
        button{
            color: aliceblue;
        }

   
    }
