body {
  font-family: 'Bungee';

  display: flex;
  min-height: 100vh;
  justify-content: center;
  background: rgb(214, 219, 163);
  background: linear-gradient(
    227deg,
    rgb(219, 199, 163) 0%,
    rgb(217, 219, 163) 20%,
    rgb(219, 202, 163) 34%,
    rgb(219, 214, 163) 59%,
    rgb(219, 218, 163) 74%,
    rgb(215, 219, 163) 100%
  );
  flex-direction: column;
  justify-content: flex-start;

  main {
    font-family: 'Bungee';

        margin: 3rem;
        .registrationfields {
          flex-direction: column;

          label {
            justify-content: flex-start;
          }

          .form-control {
            width: 25rem;
            margin-bottom: 1rem;
          }

          .submitButton {
            float: right;
          }
        }

  }
}
