body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background: rgb(214, 219, 163);
  background: linear-gradient(
    227deg,
    rgb(219, 199, 163) 0%,
    rgb(217, 219, 163) 20%,
    rgb(219, 202, 163) 34%,
    rgb(219, 214, 163) 59%,
    rgb(219, 218, 163) 74%,
    rgb(215, 219, 163) 100%
  );
  main {
    margin: 1em;
    min-width: 80%;
    h3 {
      width: 80%;
      display: flex;
      justify-content: center;
    }

    .table td {
      border-top: 0px ;
    }

    .row {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      align-items: center;
    }

    .quiz-name {
      width: 80%;

      .quiz-body {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        height: 10rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 25px;
      }
      .quiz-body:hover {
        box-shadow: 5px 10px #636363;
      }
    }
  }
}


